@foreach (var item in Produtos)
{
    <MudItem xs="6" md="3">
        <MudCard MaxWidth="300px" Elevation="0">
            <MudCardMedia Image="@item.Imagem" Height="200" />
            <MudCardContent>
                <MudText Typo="Typo.h5">@item.Nome</MudText>
            </MudCardContent>
            <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">@item.Preco.ToString("c")</MudButton>
                <a href="/ProdutoDetalhes/@item.Id">
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Ver detaques</MudButton>
                </a>
            </MudCardActions>
        </MudCard>
    </MudItem>
}

@code {
    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }

}
