@page "/"

<PageTitle>PoKeCake</PageTitle>

<MudPaper Height="100%" Width="100%">
    <MudContainer Class="div-home" MaxWidth="MaxWidth.Small">
        <MudImage Src="/logo-png.png" Width="500" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4" />
        <p class ="text-home">Frase legal pra loja mas que to sem criatividade</p>
        
    </MudContainer>
</MudPaper>